.demo--longtext {
    font: 3.9em/1 Arial, sans-serif;
    /*letter-spacing: .05em;*/
    }
    .demo--longtext-multylines {
        font-size: 4.4em;
        }
svg.demo--text-showmask {
    font-size: 12em;
    }