$textarea-width: 60%;
$textarea-fontsize: $base-size * .9;
$textarea-lineheight: 1.6;
$hl-color: palegoldenrod;

$textarea-oneline: $textarea-fontsize * $textarea-lineheight * 1.1;

@mixin textarea-height ( $lines ){
    height: $textarea-oneline * $lines;
    }

@mixin textarea-bg {
    background: linear-gradient(white $textarea-oneline, #EEE $textarea-oneline) repeat;
    background-size: 100% $textarea-oneline*2;
    }

@mixin highlight-lines( $lines ) {
    $gradients: null;
    $hl-begin: null;
    $hl-end: null;

    @each $line in $lines {
        $line: $line - 1;
        $hl-begin: $textarea-oneline * $line;
        $hl-end: $textarea-oneline * ($line + 1);

        $gradients: append($gradients, linear-gradient(
                transparent $hl-begin,
                $hl-color $hl-begin, $hl-color $hl-end,
                transparent $hl-end), comma);
        }

    &:before {
        background: $gradients;
        background-position: 0 .2em;
        }
}

@mixin editable ($pgpos: 99.5% top){
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: $pgpos;
    }

/* Demo Edit Properties
------------------------- */
$lh_koeff: 1.6;
$lh_em: 1.8em;

.live-editor {
    &__code {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 2em;
        margin: 0 0 20px;
        padding: 5px;
        background: transparent;
        border: 0;
        border-radius: 5px;
        box-shadow: inset 0 0 10px rgba(0,0,0, .5);
        outline: none;
        line-height: $lh_koeff;
        font-family: 'Anka Coder',monospace;
        font-size: 100%;
        transition: .5s;
        @include editable(99% center);

        &:focus {
            /*background-color: $hl-color;*/
            }
        }

    &__code--smalltext {
        font-size: 80%;
        }

    @for $i from 2 through 10 {
        &__code--#{$i}-lines {
        height: $lh_em * $i;
        }
    }
}

.live-editor__content {
    position: relative;
    border-radius: 5px;
    background: #FFF;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .8s;
        }
    }

.js--edited:before {
    opacity: 0;
    }

.live-editor__view {
        position: relative;
        /*border: 1px solid green;*/
        svg {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: 100%;
            margin: auto;
            /*border: 1px solid orange;*/
            }
        }
/* Modifications */

.live-editor--svg-text {
    .live-editor__content {
        $lines: 2;
        @include highlight-lines( $lines );
    }
    .live-editor__view {
        height: 280px;
        }
    }
.live-editor--stroke-base {
    .live-editor__view {
        height: 400px;
        }
    }
.live-editor--dasharray {
    .live-editor__content {
        @include highlight-lines( 3 );
        }
    .live-editor__view {
        height: 360px;
        }
    }
.live-editor--pattern {
    .live-editor__view {
        height: 240px;
        }
    }
.live-editor--bgclip-step2 {
    .live-editor__content {
        @include highlight-lines( 2 );
        }
    }
.live-editor--bgclip-step3 {
    .live-editor__content {
        @include highlight-lines( 3 );
        }
    }